@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  box-sizing: border-box;
  width: 200px;
  margin: 0;
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5px;
}

h1 {
  margin: 10px 0;
  text-align: center;
  font-size: inherit;
  color: var(--text-primary-color);
}

button {
  height: 35px;
  width: 100px;
  outline: none;
  border: 0;
  border-radius: 18px;
  font-size: inherit;
  background-color: var(--level-one);
  box-shadow: 0 1px 3px var(--shadow-color);
  color: var(--text-primary-color);
  transition: background 0.2s, box-shadow 0.2s ease;
}

button:hover {
  background-color: var(--level-three);
  cursor: pointer;
}

.speed-input {
  width: 150px;
  height: 7px;
  margin-top: 20px;
  appearance: none;
  background-color: var(--level-one);
  box-shadow: 0 1px 2px var(--shadow-color);
  border-radius: 5px;
  outline: none;
  transition: background 0.2s, box-shadow 0.2s ease;
}

.speed-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--orange);
  box-shadow: 0 0 3px var(--orange-low-opacity);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.speed-input::-webkit-slider-thumb:hover {
  background-color: var(--orange-bright);
  box-shadow: 0 0 5px 0 var(--orange-med-opacity);
}

.settings-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.settings-gear {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
