@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  width: 200px;
  background-color: var(--background-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 8px;
}

h1 {
  margin: 10px 0;
  text-align: center;
  color: hsl(var(--text-primary-color));
}

button {
  height: 35px;
  width: 100px;
  outline: none;
  border: 0;
  border-radius: 18px;
  background-color: var(--main-color);
  box-shadow: var(--shadow-base) var(--shadow-color);
  color: hsl(var(--text-primary-color));

  &:hover {
    background-color: hsl(var(--active-color-values));
    cursor: pointer;
  }
}

.speed-input {
  width: 150px;
  height: 7px;
  margin-top: 20px;
  appearance: none;
  background-color: var(--main-color);
  box-shadow: var(--shadow-base) var(--shadow-color);
  border-radius: 5px;
  outline: none;

  &:hover {
    background-color: hsla(var(--active-color-values), 100%);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--orange);
  }

  &::-webkit-slider-thumb:hover {
    background-color: var(--orange-bright);
    box-shadow: 0 1px 5px var(--shadow-color);
  }
}

.settings-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.settings-gear {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: relative;
}
