@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

body {
  background-color: var(--background-clr);
  font-size: 100%;
}

.page {
  filter: blur(0);
  transition: filter 0.5s ease;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.page.blur {
  filter: blur(5px);
}

h1 {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  margin: 0;
  color: hsl(var(--text-primary-color));
}

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 400;
  color: var(--orange);
}

label {
  font-weight: 400;
  font-size: 1em;
  color: hsl(var(--text-primary-color));
  line-height: 2;
}

h6 {
  color: var(--orange);
  font-size: 12px;
  font-weight: 300;
}

button {
  padding: 0.5em 3.5em;
  outline: none;
  border: 0;
  border-radius: 100em;
  background-color: var(--main-color);
  box-shadow: var(--shadow-base) var(--shadow-color);
  color: hsl(var(--text-primary-color));
  font-size: 1em;
}
button:hover {
  background-color: hsl(var(--active-color-values));
  cursor: pointer;
  transition: background-color 0.2s;
}

input[type=number] {
  border-radius: 0.75em;
  padding: 0.6em 0;
  width: 11ch;
  text-align: center;
  outline: none;
  background-color: var(--main-color);
  box-shadow: var(--shadow-base) var(--shadow-color);
  border: none;
  color: hsl(var(--text-primary-color));
  font-size: 0.75em;
}
input[type=number]:focus {
  background-color: hsl(var(--active-color-values));
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  appearance: none;
}

input[type=checkbox] {
  -webkit-appearance: none;
  background-color: transparent;
  color: hsla(var(--text-primary-color)/0.8);
  border: 1px solid currentColor;
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.25em;
  position: relative;
}
input[type=checkbox]:hover, input[type=checkbox]:checked:hover {
  background-color: hsl(var(--active-color-values));
}
input[type=checkbox]:checked::after {
  content: "✔";
  position: absolute;
  font-size: 1em;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main {
  width: 50rem;
  max-width: 90%;
  height: fit-content;
  margin-top: 30px;
  background-color: var(--main-color);
  border-radius: 10px;
  box-shadow: var(--shadow-base) var(--shadow-color);
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .title {
  padding-bottom: 15px;
  border-bottom: 1px var(--accent-color) solid;
  margin-bottom: 10px;
  align-self: stretch;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1em;
  margin: 1rem 0;
  width: 100%;
}

.min-max {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appearance {
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.color-scheme-toggle {
  --padding: 0.25em;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset var(--shadow-base) 0.5px var(--shadow-color);
  overflow: hidden;
  border-radius: 1em;
  padding: var(--padding);
}
.color-scheme-toggle input[type=radio] {
  display: none;
}
.color-scheme-toggle label, .color-scheme-toggle .background {
  width: 5em;
  height: 2em;
  font-size: 0.75em;
  text-align: center;
  border-radius: 1em;
  cursor: pointer;
}
.color-scheme-toggle label {
  z-index: 1;
}
.color-scheme-toggle .background {
  position: absolute;
  background-color: var(--orange-low-opacity);
  transition: transform 0.5s ease;
}
.color-scheme-toggle #option-auto:checked ~ .background {
  transform: translate(0);
}
.color-scheme-toggle #option-light:checked ~ .background {
  transform: translate(100%, 0);
}
.color-scheme-toggle #option-dark:checked ~ .background {
  transform: translate(200%, 0);
}
@media (max-width: 16rem) {
  .color-scheme-toggle {
    flex-direction: column;
    gap: 0.5em;
  }
  .color-scheme-toggle .background {
    transform: translate(0);
  }
  .color-scheme-toggle #option-auto:checked ~ .background {
    transform: translate(0, 0);
  }
  .color-scheme-toggle #option-light:checked ~ .background {
    transform: translate(0, calc(1 * (125% + 0.175em)));
  }
  .color-scheme-toggle #option-dark:checked ~ .background {
    transform: translate(0, calc(2 * (125% + 0.175em)));
  }
}

.save-speed {
  display: flex;
  align-items: center;
  gap: 10px;
}

.save-buttons {
  margin-bottom: 0;
}

.credit {
  text-align: center;
  margin: 20px 0;
}

/* ---------------- */
/* ---- Modal ----- */
.hidden {
  display: none;
}

.visually-hidden {
  opacity: 0;
}

.modal-container {
  z-index: 11;
  transition: 0.5s ease;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000055;
  z-index: 10;
}

.modal-content-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}
.modal-content-container .modal {
  width: 600px;
  max-width: 90%;
  height: 300px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--main-color);
  box-shadow: 0 3px 20px var(--shadow-color);
}

/*# sourceMappingURL=options.css.map */
