@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

body {
  background-color: var(--main-color);
}

.page {
  filter: blur(0);
  transition: filter 0.5s ease;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &.blur {
    filter: blur(5px)
  }
}

h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  color: var(--text-primary-color);
}

h2 {
  text-align: center;
  font-size: 23px;
  font-weight: 400;
  color: var(--orange);
}

label {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-primary-color);
}

h6 {
  color: var(--orange);
  font-size: 12px;
  font-weight: 300;
}

button {
  height: 40px;
  width: 150px;
  outline: none;
  border: 0;
  border-radius: 20px;
  background-color: var(--main-color);
  box-shadow: 2px 3px 25px 0 var(--shadow-color);
  color: var(--text-primary-color);
  font-size: 15px;
  margin: 0 15px;
}

button:hover {
  background-color: var(--active-color);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.main {
  width: 700px;
  max-width: 90%;
  height: fit-content;
  margin-top: 30px;
  background-color: var(--main-color);
  border-radius: 10px;
  box-shadow: 5px 10px 50px 0 var(--shadow-color);
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    padding-bottom: 15px;
    border-bottom: 1px var(--accent-color) solid;
    margin-bottom: 10px;
    align-self: stretch;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0;
  width: 80%;
}

.min-max {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    border-radius: 10px;
    width: 80px;
    height: 30px;
    margin-top: 7px;
    text-align: center;
    outline: none;
    background-color: var(--main-color);
    box-shadow: 0 3px 18px var(--shadow-color);
    border: none;
    color: var(--text-primary-color);
    font-size: 12px;
  }

  input:focus {
    background-color: var(--active-color);
    transition: background-color 0.2s, color 0.2s;
  }
}

.appearance {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-scheme-toggle {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  box-shadow: inset 0 0 8px var(--shadow-color);
  overflow: hidden;
  --padding: 4px;

  &, .background-container {
    border-radius: 18px;
    padding: var(--padding);
  }

  input {
    display: none;
  }

  label, .background {
    width: 60px;
    height: 24px;
    font-size: 12px;
    text-align: center;
    border-radius: 13px;
    line-height: 2;
    cursor: pointer;
  }

  label {
    z-index: 1;
  }

  .background-container {
    position: absolute;
    box-sizing: content-box;
    transform: translateX(calc(0px - var(--padding)));
    overflow: hidden;
    width: 180px;
    height: 24px;
    z-index: 0;

    .background {
      background-color: var(--orange-low-opacity);
      transition: transform 0.5s ease;
    }
  }

  #option-auto:checked ~ .background-container .background {
    transform: translateX(0);
  }

  #option-light:checked ~ .background-container .background {
    transform: translateX(60px);
  }

  #option-dark:checked ~ .background-container .background {
    transform: translateX(120px);
  }
}

.save-buttons {
  margin-bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.credit {
  text-align: center;
  margin: 20px 0;
}

/* ---------------- */
/* ---- Modal ----- */
.hidden {
  display: none;
}

.visually-hidden {
  opacity: 0;
}

.modal-container {
  z-index: 11;
  transition: 0.5s ease;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #00000055;
  z-index: 10;
}

.modal-content-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;

  .modal {
    width: 600px;
    max-width: 90%;
    height: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: var(--main-color);
    box-shadow: 0 3px 20px var(--shadow-color);
  }
}
