:root {
    --orange: hsl(45, 100%, 60%);
    --orange-bright: hsl(45, 100%, 72%);
    --orange-low-opacity: hsla(45, 100%, 50%, 0.5);
    --orange-med-opacity: hsla(45, 100%, 50%, 0.75);
}

[data-color-scheme="light"] {
    --main-color: hsl(0, 0%, 100%);
    --active-color: hsl(52, 100%, 91%);
    --active-color-values: 52, 100%, 91%;
    --accent-color: hsl(44, 100%, 72%);

    --orange-highlight: hsla(45, 100%, 50%, 0.73);

    --text-primary-color: hsl(0, 0%, 26%);

    --shadow-color: hsla(0, 0%, 0%, 0.13);
}

[data-color-scheme="dark"] {
    --main-color: hsl(0, 0%, 22%);
    --active-color: hsl(0, 0%, 28%);
    --active-color-values: 0, 0%, 28%;
    --accent-color: hsl(42, 16%, 41%);

    --orange-highlight: hsla(45, 100%, 50%, 0.33);

    --text-primary-color: hsl(0, 0%, 80%);

    --shadow-color: hsla(0, 0%, 0%, 0.35);
}
